
<div class="row">
	<div class="col-md-12">
    <% unless @conversations.nil? %>
			<div class="panel panel-default" id="convo">
				<div class="panel-heading"><h3>Your conversations</h3></div>
					<div class="panel-body">
						<div class="container">
						  
								<% @conversations.each do |conversation| %>
									<% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>

									<%= link_to conversation_messages_path(conversation) do %>
										<% if conversation.messages.count > 0 %>
											<div class="col-md-2">
												<%= other.email %><br>
												<%= conversation.messages.last.message_time %>
											</div>
											<div class="col-md-8">
												<%= conversation.messages.last.content %>
											</div>
										<% end %>
									</div>
								<% end %>
							<% end %>	
					</div>
				</div>
			</div>
		<% end %>	
		<h3>Send Message</h3>
			<% if @users != current_user %>
			  <% if current_user.is_admin? %>
			  	
			  	<%= @users.email %>
				  <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @users.id), method: 'post' %>

			  <% else %>

					<%= link_to "Talk To Neo", conversations_path(sender_id: current_user.id, recipient_id: @users = 5 ), method: 'post' %>

				<% end %>
				<br>
			<% end %>

			<% if !user_signed_in? %>

			  <div><h5>Please sign in or register to talk to Neo now!</h5></div>

			<% end %>	
	</div>	
</div>
