<div class="row">
	<div class="col-md-12">

		<div class="panel pandel-default">
			<div class="panel-heading">Your conversations</div>
				<div class="panel-body">
					<div class="container">
						<% @conversations.each do |conversation| %>
							<% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>

							<%= link_to conversation_messages_path(conversation) do %>
								<% if conversation.messages.count > 0 %>
									<div class="col-md-2">
										<%= other.email %><br>
										<%= conversation.messages.last.message_time %>
									</div>
									<div class="col-md-8">
										<%= conversation.messages.last.content %>
									</div>
								<% end %>
							</div>
						<% end %>
					<% end %>		
				</div>
			</div>
		</div>

		<h3>All Users</h3>
		<% @users.each do |user| %>
		  <% if user != current_user %>
		    <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
		    <% end %>
		    <br>
		<% end %>
	</div>	
</div>